.todoItem{
	width: 94%;
	padding: 5px;
	font-size: 30px;
	margin: 4px auto 8px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 4px #FFE6F7;
	display: flex;
}

.line{
	text-decoration-line: line-through;
	text-decoration-color: #FFABE1;
}

.left, .right{
	margin: 0 1rem;
}

.right{
	margin-left: auto;
}

.scroll{
	overflow: auto;
	white-space: nowrap;
}

.remove{
	color: #ff6269;
}

@media(min-width: 768px){
	.todoItem{
		width: 98%;
	}
}