.todolist{
	z-index: 1;
	border: 3px solid #FFABE1;
	position: absolute;
	left: 50%;
	top: 120px;
	transform: translateX(-50%);
	padding-top: 8px;
	overflow-y: scroll;
	width: 90%;
	height: 70%;
	border-radius: 15px;
	background-color: #C689C6;
}